/* src/components/AddStudentForm/AddStudentForm.css */
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    align-self: center;
  }
  